@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, system-ui, sans-serif;
  --font-mono: monospace;
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --font-serif: Georgia, serif;
  --radius: 0.6rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2099 0.0341 263.4360);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2099 0.0341 263.4360);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2099 0.0341 263.4360);
  --primary: oklch(0.4878 0.2432 264.4045);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9670 0.0029 264.5419);
  --secondary-foreground: oklch(0.3731 0.0343 260.1694);
  --muted: oklch(0.9755 0.0045 258.3245);
  --muted-foreground: oklch(0.5510 0.0267 264.3277);
  --accent: oklch(0.9705 0.0142 254.6042);
  --accent-foreground: oklch(0.4878 0.2432 264.4045);
  --destructive: oklch(0.5095 0.2086 28.5130);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.4878 0.2432 264.4045);
  --chart-1: oklch(0.4878 0.2432 264.4045);
  --chart-2: oklch(0.6320 0.1860 147.3695);
  --chart-3: oklch(0.4907 0.2699 292.5633);
  --chart-4: oklch(0.6136 0.1159 224.6354);
  --chart-5: oklch(0.6378 0.2373 25.4359);
  --radius: 0.6rem;
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.4461 0.0298 257.6800);
  --sidebar-primary: oklch(0.4878 0.2432 264.4045);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9670 0.0029 264.5419);
  --sidebar-accent-foreground: oklch(0.2099 0.0341 263.4360);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.4878 0.2432 264.4045);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.08;
  --shadow-blur: 12px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 4px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 4px 12px -2px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0 4px 12px -2px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0 4px 12px -2px hsl(0 0% 0% / 0.08), 0 1px 2px -3px hsl(0 0% 0% / 0.08);
  --shadow: 0 4px 12px -2px hsl(0 0% 0% / 0.08), 0 1px 2px -3px hsl(0 0% 0% / 0.08);
  --shadow-md: 0 4px 12px -2px hsl(0 0% 0% / 0.08), 0 2px 4px -3px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0 4px 12px -2px hsl(0 0% 0% / 0.08), 0 4px 6px -3px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0 4px 12px -2px hsl(0 0% 0% / 0.08), 0 8px 10px -3px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0 4px 12px -2px hsl(0 0% 0% / 0.20);
  --tracking-normal: -0.01em;
}

.dark {
  --background: oklch(0.2099 0.0341 263.4360);
  --foreground: oklch(0.9846 0.0017 247.8389);
  --card: oklch(0.2784 0.0335 257.6720);
  --card-foreground: oklch(0.9846 0.0017 247.8389);
  --popover: oklch(0.2784 0.0335 257.6720);
  --popover-foreground: oklch(0.9846 0.0017 247.8389);
  --primary: oklch(0.5834 0.2305 277.0676);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3731 0.0343 260.1694);
  --secondary-foreground: oklch(0.9846 0.0017 247.8389);
  --muted: oklch(0.3731 0.0343 260.1694);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.4878 0.2432 264.4045);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6539 0.1926 25.1437);
  --border: oklch(0.3731 0.0343 260.1694);
  --input: oklch(0.2784 0.0335 257.6720);
  --ring: oklch(0.5834 0.2305 277.0676);
  --chart-1: oklch(0.5834 0.2305 277.0676);
  --chart-2: oklch(0.7289 0.2119 147.8222);
  --chart-3: oklch(0.5405 0.2811 292.8523);
  --chart-4: oklch(0.7224 0.1298 217.9549);
  --chart-5: oklch(0.6378 0.2373 25.4359);
  --sidebar: oklch(0.2099 0.0341 263.4360);
  --sidebar-foreground: oklch(0.7137 0.0192 261.3246);
  --sidebar-primary: oklch(0.5834 0.2305 277.0676);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2784 0.0335 257.6720);
  --sidebar-accent-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-border: oklch(0.2784 0.0335 257.6720);
  --sidebar-ring: oklch(0.5834 0.2305 277.0676);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.6rem;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.4;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 8px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0 8px 20px 0px hsl(0 0% 0% / 0.40), 0 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0 8px 20px 0px hsl(0 0% 0% / 0.40), 0 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0 8px 20px 0px hsl(0 0% 0% / 0.40), 0 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0 8px 20px 0px hsl(0 0% 0% / 0.40), 0 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0 8px 20px 0px hsl(0 0% 0% / 0.40), 0 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0 8px 20px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    @apply font-sans;
  }
}